.App {
  text-align: center;
  width: 500px;
  background-color: rgb(238, 236, 236);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 5px;
  min-height: 40px;
}

